<div class="container-home">
  <div class="text-category">
  <h5>FOLLOW-US</h5>
  </div>
    <!-- SnapWidget -->
  <div class="instagram">
    <!-- SnapWidget -->
    <iframe src="https://snapwidget.com/embed/398908" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:125px"></iframe>
  </div>
</div>
  <div class="footer text-center">
    <div class="container">
      <p>La Bande à Estine 2017 · © All Rights Reserved · Conditions Générales de Ventes · Contact</p>
    </div>
  </div>
