<div class="logo-top">
<%= image_tag "LBAE.png" %>
</div>
<div class="container-menu">
  <ul class= "home-menu">
    <li class="item-menu">HOME</li>
    <li class="item-menu">ABOUT</li>
    <li class="item-menu">MODELS</li>
    <li class="item-menu">SHOP</li>
  </ul>
</div>
