<div class="logo-top">
LA BANDE A ESTINE
</div>
<div class="container-menu">
  <ul class= "home-menu">
    <li class="item-menu">
      <%= link_to "/" do %>
      HOME
      <% end %>
    </li>
    <li class="item-menu">
      <%= link_to principes_path do %>
      LE PRINCIPE
      <% end %>
    </li>
    <li class="item-menu">
      <%= link_to headbands_path do %>
      SHOP
      <% end %>
    </li>
    <li class="item-menu">
      <%= link_to abouts_path do %>
      ABOUT US
      <% end %>
    </li>
  </ul>
</div>



