.logo-top {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  img {
    width: 200px;
  }
}
.container-menu{
  margin-left: 100px;
  margin-right: 100px;
}

.home-menu {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid $framboise;
  border-top: 1px solid $framboise;
  padding-top: 20px;
  padding-bottom: 15px;

}

.item-menu{
  display: inline-block;
  width: 20%;
  text-align: center;
}
