<div class="container-home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 collection">
        <div class="card-shop-season " style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "summer2.jpg"%>);">
        </div>
      </div>
    </div>
      <% @headbands.each do |headband| %>
        <div class="row">
          <%= link_to headband_path(headband) do %>
            <div class="col-sm-7 collection">
              <div class="card-image-about" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url(<%= image_path "bandeau1.png"%>);">
              </div>
            </div>
            <div class="col-sm-5 about-text">
              <h6><%= headband.name%></h6>
              <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere autem temporibus dolorem inventore qui, ullam sint non. Beatae, modi. Aperiam officiis iusto nesciunt ipsa qui dolorum molestiae earum recusandae hic.</h6>
                <div class="button-read-more">
                <h6>READ MORE</h6>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>


